.bannerHome{
    background-image: url(../img/bannerHomeVans.jpg);
    height:500px;
    background-size:cover;
    position:relative;
    > h1 {
        color:#fff;
        font-size:60px;
        font-weight:700;
        position:absolute;
        top:27%;
        left:10%;

        @media(max-width:575px) {
            top:25%;
            line-height:60px;
            font-size:50px;
        }
    }
    > h2 {
        color:#fff;
        font-size:20px;
        position:absolute;
        top: 45%;
        left:10%;
        letter-spacing: 5px;
        @media(max-width:575px) {
            top:52%;
        }
    }
    > h3 {
        color:#fff;
        font-size:18px;
        position:absolute;
        left:10%;
        top:55%;
        font-weight:300;
        @media(max-width:575px) {
            top:60%;
        }
    }
}