.tituloCategoria {
    display:flex;
    flex-direction: row;
    margin-top:100px;
    margin-bottom:20px;
    justify-content: center;
    > h2 {
        position:relative;
        margin-bottom:20px;
        font-size:30px;
    }
    @media(max-width:575px) {
        margin-bottom:0px;
    }
}

.categoriasDestacadas {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    @media(max-width:375px) {
        flex-direction:column;
        align-items:center;
        gap:20px;
    }
    @media(max-width:960px) {
        flex-direction:row;
        align-items:center;
        gap:20px;
        width:100%;
        flex-wrap:wrap;
    }
    @media(max-width:1200px) {
        flex-direction:row;
        align-items:center;
        gap:20px;
        width:100%;
        flex-wrap:wrap;
    }
}

.categoriaDestacada1{
    @extend %categoriaDestacada;
    background-image:url(../img/panchas.jpg);
    > h2{
        position:absolute;
        top:40%;
        left:18%;
        color:#fff;
        
    }

}
.categoriaDestacada2{
    @extend %categoriaDestacada;
    background-image:url(../img/joggers.jpg);
    > h2{
        position:absolute;
        top:40%;
        left:25%;
        color:#fff;
        @media(max-width:575px) {
            left:30%;
        }
    }
}

.categoriaDestacada3{
    @extend %categoriaDestacada;
    background-image:url(../img/hoodies.jpg);
    > h2 {
        position:absolute;
        top:40%;
        left:25%;
        color:#fff;
        @media(max-width:575px) {
            left:30%;
        }
    }


}
.categoriaDestacada4{
    @extend %categoriaDestacada;
    background-image:url(../img/anoraks.jpg);
    > h2 {
        position:absolute;
        top:40%;
        left:25%;
        color:#fff;
        @media(max-width:575px) {
            left:30%;
        }
    }

}