%categoriaDestacada {
    border-radius:30px;
    border:none;
    height:150px;
    width:250px;
    position:relative;
    top:50px;
    bottom:50px;
    background-position: bottom;
    background-size: cover;
    > h2 {
        font-size:30px;
}
}

%bannerProductoIndividual {
    height:300px;
    background-size:cover;
    position:relative;
    z-index:-1;
    background-position: left;
    margin-bottom:40px;
    @media (max-width:500px) {
        height:200px;
      }
      > h1{
        color:#fff;
        font-size:60px;
        font-weight:700;
        position:absolute;
        top:45%;
        left:22%;
        transform: translate(-50%, -50%);
        text-shadow: $textShadow;
        @media (max-width:500px) {
                font-size: 40px;
                top:40%;
                left:60%;
                transform: translate(-50%, -50%);
                width:100%;
              }
    }
    > h3 {
        color:#fff;
        font-size:18px;
        position:absolute;
        left:17%;
        top:60%;
        transform: translate(-50%, -50%);
        font-weight:300;
        text-shadow: $textShadow;
        @media (max-width:500px) {
            font-size: 15px;
            top:58%;
            left:60%;
            transform: translate(-50%, -50%);
            width:100%;
          }
    }
}

%bannerSecciones {
    height:300px;
    background-size:cover;
    position:relative;
    z-index:-1;
    background-position: left;
    margin-bottom:40px;
    @media (max-width:992px) {
        height:200px;
      }
    > h1{
        color:#fff;
        font-size:60px;
        font-weight:700;
        position:absolute;
        top:50%;
        left:17%;
        text-shadow: $textShadow;
        transform: translate(-50%, -50%);
        @media (max-width:992px) {
                font-size: 40px;
                top:50%;
                left:40%;
                transform: translate(-50%, -50%);
              }
    }
}

%zoomInOut{
    transition: 0.15s;
    &:hover {
        scale: 1.02;
        transition:0.15s;
    }
}


