.nav-link {
    color: #fff;
    &:hover {
      color: #eaeaea;
    }
  }

  .colorHamburguesa{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-nav .dropdown-menu {
    background-color: #222;
}

.dropdown-item {
  color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: white;
}

.bg-body-tertiary {
  padding: 0;
  margin: 0;
}