/*BANNER*/
.bannerProductoIndividualVans{
    @extend %bannerProductoIndividual;
    background-image: url(../img/bannerProductoVans.jpg);

}

.bannerProductoIndividualVolcom{
    @extend %bannerProductoIndividual;
    background-image: url(../img/bannerVolcom.jpg);
}

/*PRODUCTO*/
.productoIndividual {
    display:flex;
    flex-direction:column;
    gap:50px;
    padding-left:20px;
    padding-right:20px;
    margin-top:50px;
    @media(min-width:768px){
        flex-direction:row;
    } 
}

.categoriaProductoIndividual {
    border: 1px solid #222; 
    border-radius: 5px;
    border-style: none;
    display: flex;
    width:100%;
    height: auto;
    -webkit-box-shadow: 1px 5px 10px 3px rgba(0,0,0,0.32); 
    box-shadow: 1px 5px 10px 3px rgba(0,0,0,0.08);
    @media(min-width:768px){
        width:50%;
    }
}

.imagenProductoIndividual {
    width:100%;
    height:auto;
}
.tituloProductoIndividual {
    font-size:25px;
}
.textoProductoIndividual{
    line-height:25px;
    text-align:justify;
}
.precioProductoIndividual {
    font-size:50px;
    color:$colorPrecio;
    font-weight:700;
    margin-top: 10px
}

.infoProductoIndividual{
    display:flex;
    flex-direction: column;
    border: 1px solid #222; 
    padding: 20px;
    border-radius: 5px;
    border-style: none;
    width:100%;
    height:auto;
    justify-content:space-evenly;
    @media(min-width:768px){
        width:50%;
    } 
    > h2{
        font-size:40px;
        margin-bottom:20px;

    }
}

/*PROD RELACIONADOS*/
.tituloDestacados {
    margin-top:100px;
    > h2 {
        display:flex;
        flex-direction:row;
        justify-content:center;
        font-size:30px;
    }
}

.productosDestacados {
    display:flex;
    flex-wrap: wrap;    
    flex-direction: row;
    justify-content: space-around;
    margin-top:50px;
    margin-bottom:100px;  
    gap:10px;
    > .producto {
        > .agregarAlCarrito {
            @include addToCart(#eaeaea, #000, #eaeaea, #920303, #fff, #920303)
        } 
    }
 
}